<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Properties>
        <Property name="baseDir">/var/log/data-service</Property>
        <Property name="LOG_PATTERN">
            %d{dd-MM-yyyy HH:mm:ss.SSS} %-5p %c{1}:%L %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="app_info" filename="${baseDir}/app_info.log"
                     filepattern="${baseDir}/app_info.%d{YYYY-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="1">
                    <IfFileName glob="app.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="app_error" filename="${baseDir}/app_error.log"
                     filepattern="${baseDir}/app_error.%d{YYYY-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <DefaultRolloverStrategy max="7"/>

        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="app_info"/>
            <AppenderRef ref="app_error"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>